.toolbar {
  position: relative;
  z-index: 3;
}

.window-content {
  position: relative;
  z-index: 2;
}

#mermaidWorkArea {
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  height: 800px;
  z-index: 1;
}

#mithrilRoot {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
